.mt-navbar {
  background-color: #4D4365;
}
/* change the brand and text color */
.mt-navbar .navbar-brand,
.mt-navbar .navbar-text {
  color: rgba(255,255,255,.8);
}
/* change the link color */
.mt-navbar .navbar-nav .nav-link {
  color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.mt-navbar .nav-item.active .nav-link,
.mt-navbar .nav-item:hover .nav-link {
  color: #ffffff;
}
/* Style buttons */
.btn {
  background-color: #4D4365; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: #a399b9;
}
.dropdown-toggle::after {
  display:none;
}
