  <div class="mr-auto mt-2">
    <div class="card rounded" style="width:30rem">
        <div class="card-body">
          <h5 class="card-title">Register</h5>
          <form [formGroup]="registerForm">
            <div class="row form-group">
              <div class="col-sm-6 col-md-6">
                <label class="form-label" for="firstName">First Name</label>
                <input formControlName="firstName" class="form-control" type="text" placeholder="First Name">

              <div
              *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
              class="text-danger small">
                First name required
              </div>
            </div>
              <div class="col-sm-6 col-md-6">
                <label class="form-label" for="firstName">Last Name</label>
                <input formControlName="lastName" class="form-control" type="text" placeholder="Last Name">

              <div
              *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
              class="text-danger small">
                Last name required
              </div>
            </div>
            </div>
            <div class="row form-group">
              <div class="col-sm-6 col-md-6">
                <label class="form-label" for="firstName">Email</label>
                <input formControlName="email" class="form-control" type="email" placeholder="Email">

              <div
              *ngIf="email.invalid && (email.dirty || email.touched)"
              class="text-danger small">
                Valid Email required
              </div>
            </div>
              <div class="col-sm-6 col-md-6">
                <label class="form-label" for="firstName">Phone</label>
                <input formControlName="phone" class="form-control" type="phone" placeholder="Phone">
              </div>
            </div>
            <div class="row form-group">
              <div class="col-sm-6 col-md-6">
                <label class="form-label" for="firstName">DOB</label>
                <input formControlName="dob" class="form-control" type="text" placeholder="DOB (dd/mm/yyyy)">
              </div>
            </div>
            <div class="row form-group">
              <div class="col-sm-6 col-md-6">
                <label class="form-label" for="firstName">Password</label>
                <input formControlName="password" class="form-control" type="password" placeholder="Password">
              <div
              *ngIf="password.errors?.required && (password.dirty || password.touched)"
              class="text-danger small">
                Password required
              </div>
            </div>
             <div class="col-sm-6 col-md-6">
                <label class="form-label" for="firstName">Confirm Password</label>
                <input formControlName="confirmPassword" class="form-control" type="password" placeholder="Confirm Password">
              <div
              *ngIf="confirmPassword.errors?.required && (confirmPassword.dirty || confirmPassword.touched)"
              class="text-danger small">
                Confirm password required
              </div>
            </div>
            </div>

            <div class="row form-group">
              <div class="col">
                <div
              *ngIf="
                registerForm.errors &&
                (confirmPassword.dirty || confirmPassword.touched) &&
                (password.dirty || password.touched)"  class="text-danger small">
              <div>
                Passwords dont match
              </div>
            </div>
                <button class="btn btn-secondary mt-2" [disabled]="!registerForm.valid">Register</button>
                <p>or <a routerLink="/login" class="text-info">Login</a> if you have an account</p>
              </div>
            </div>
          </form>
        </div>
    </div>
  </div>
